

@font-face {
  font-family: 'FFXIV';
  src: url('/fonts/FFXIV_Lodestone_SSF.ttf') format('truetype'),
       url('/fonts/FFXIV_Lodestone_SSF.woff') format('woff');
  unicode-range: U+E020-E0DB;
}

.ffxiv{
  font-family: 'FFXIV';
}

.theme-default-content{
  font-family: 'FFXIV',-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

@import "/css/ffxivfont.css"