@import 'https://cdn.jsdelivr.net/npm/cooltipz-css@1.6/cooltipz.css'

@font-face {
  font-family: 'FFXIV';
  src: url('/fonts/FFXIV_Lodestone_SSF.ttf') format('truetype'),
       url('/fonts/FFXIV_Lodestone_SSF.woff') format('woff');
  unicode-range: U+E020-E0DB;
  font-weight: 100 400;
}

.ffxiv{
  font-family: 'FFXIV' !important;
}

input,textarea{
  font-family: 'FFXIV',Arial ;
}

body{
  font-family: 'FFXIV',-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

//@import "/css/ffxivfont.css"

icons = json('../public/json/characters.json', { hash: true })

i.xiv
  &::before
    font-family 'FFXIV'
    font-style normal

for char, cls in icons
  i.xiv.{cls[0]}::before
    content '\' + char
  i.xiv.{char}::before
    content '\' + char


.cafekit{
    transform-origin: left;
    transform: scale(0.8);
}
